{% extends "base.html" %}
{% load cookielaw_tags %}

{% block body %}

{% cookielaw_banner %}

<main>
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vestibulum eu sem dictum, viverra enim at, iaculis nunc.
        Aliquam posuere pulvinar ex vitae venenatis.
        Nunc pellentesque, odio at malesuada feugiat, nunc turpis tincidunt orci, id cursus risus nisl nec mauris.
        Praesent vitae ligula ipsum. Curabitur commodo ante dapibus diam rutrum ultricies.
    </p>
</main>

{% endblock %}
