*.pyc
*.egg

_build/
_env/
dist/
django_cookie_law.egg-info/

.idea/

/.Python
/bin
/include
/lib
/pip-selfcheck.json
/Pipfile
/Pipfile.lock
/.cache
/.eggs
/selenium
/geckodriver.log
/ghostdriver.log
