sudo: false
language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
env:
  - DEPS='Django<1.5'
  - DEPS='Django<1.6'
  - DEPS='Django<1.7'
  - DEPS='Django<1.8'
  - DEPS='Django<1.9'
matrix:
  exclude:
    - env: DEPS='Django<1.5'
      python: "3.2"
    - env: DEPS='Django<1.5'
      python: "3.3"
    - env: DEPS='Django<1.5'
      python: "3.4"
    - env: DEPS='Django<1.5'
      python: "3.5"
    - env: DEPS='Django<1.6'
      python: "3.4"
    - env: DEPS='Django<1.6'
      python: "3.5"
    - env: DEPS='Django<1.7'
      python: "3.4"
    - env: DEPS='Django<1.7'
      python: "3.5"
    - env: DEPS='Django<1.8'
      python: "2.6"
    - env: DEPS='Django<1.8'
      python: "3.5"
    - env: DEPS='Django<1.9'
      python: "2.6"
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "sleep 3"
install:
  - pip install $DEPS
  - python setup.py develop
script:
  - python setup.py test
