<div id="CookielawBanner">
    <div class="container">
        <h6>Informacja o plikach cookies.</h6>
        <p>
            Nasza strona korzysta z cookies i pochodnych technologii m.in.
            w celach statystycznych, reklamowych, badawczych oraz w celu
            dostosowania jej zawartości do indywidualnych potrzeb użytkowników.
            Korzystanie z witryny bez zmiany ustawień cookies oznacza, że będą
            one zamieszczane w Twoim urządzeniu końcowym. Możesz w każdym
            czasie dokonać zmiany ustawień dotyczących cookies. Więcej
            informacji znajdziesz w naszej Polityce Prywatności.
        </p>
    </div>
</div>
